version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: handson_b-php
    environment:
      - DATABASE_URL="mysql://hbuser:hbpass@handson_b-db:3306/handson_b"
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - handson_b-db

  handson_b-db:
    image: mysql:8.0
    container_name: handson_b-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: handson_b
      MYSQL_USER: hbuser
      MYSQL_PASSWORD: hbpass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  handson_b-phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: handson_b-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: handson_b-db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - handson_b-db

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
  db_data:

###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
